<h2>comments</h2>
    <% @article.comments.each do |comment| %>
    <p>
    <small><small><p><%= comment.created_at.strftime("%a %-b %-d, %Y | %l:%M %p") %></p></small></small>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
    </p>
    <p>
    <strong>Comment:</strong>
    <%= comment.body %>
    </p>

    <p>

    <%= link_to 'Delete Comment', [comment.article, comment],
        method: :Delete,
        class: 'btn btn-sm btn-danger',
        data: {confirm: 'Ahhh The comment who lived... Come to die?'}

    %>
    
    </p>

<% end %>