<section class="footer">
    <div class="row">
        <div class="col-md-4 dark">
        <div class="col-md-12 padding white">
            <h4>Adres</h4>
            <hr>
            <h5>Adress Line 1</h5>
            <h5>Adress Line 1</h5>
            <h5>Adress Line 1</h5>
            <hr>
            <p class="small-font grey">&copy; zombosswebsite.io 2019 All rights reserved.
        </div> <!-- col-md-12 -->
        </div> <!-- col-md-4 -->
        <div class="col-md-4">
        <div class="col-md-12 padding white">
            <h4>Waloogi</h4>
            <hr>
            <form class="form-inline mt-2 mt-md-0">
                <input 
                    class="form-control mr-sm-2" 
                    type="text" 
                    placeholder="Input your Email adress" 
                    aria-label="Email"
                    style="margin-bottom"
                >
                <button class="btn btn-light my-2 my-sm-0" type="submit">Submit</button>
            </form>
            <h5>WAAAAAAH</h5>
        </div> <!-- col-md-12 -->
        </div> <!-- col-md-4 -->
        <div class="col-md-4 darker">
        <div class="col-md-12 padding white">
            <h4>Stuff.co.nz</h4>
            <hr>
            <h5><%= link_to 'Bookface', welcome_index_path, class:"linktxt"%></h5>
            <h5>Tweeter</h5>
            <h5>To yube</h5>
        </div> <!-- col-md-12 -->
        </div> <!-- col-md-4 -->
    </div>
</section> <!-- row -->