<div class="row" style="padding-top:20%;">
<div class="col"</div>
<div class="col-md-7 text-center">

    <h1>Welcome to my very epic and cool grimba land</h1>
    <p><%= link_to 'My Blog', articles_path, class: 'btn btn-sm btn-lg btn-danger' %></p>

</div>
<div class="col"</div>
</div>