<div class="row" style="padding-top:10%;">
<div class="col"</div>
<div class="col-md-7 text-center">

    <h1>Welcome to my very epic and cool grimba land</h1>
    <p><%= link_to 'My Blog', articles_path %></p>

</div>
<div class="col"</div>
</div>