<div class="row" style="padding-top:7%;">
<div class="col-md-12 text-center">
<%= image_tag 'Test Header.jpg', style:"width:100%" %>
<div class="jumbotron">

<h1>Welcome to my very epic and cool grimba land</h1>
<p><%= link_to 'My Blog', articles_path, class: 'btn btn-sm btn-lg btn-welcome' %></p>

</div> <!-- Jumbotron -->
</div>
</div>