.navbar
{

    background-color:rgba(49, 238, 20, 0.415) !important;

}

.nav-link
{



}


.nav-item
{

    font-weight: bold;
    color: blanchedalmond;

}

.active_nav-link
{

    color: burlywood !important;

}

.nav-item a:hover
{

    font-weight: bold;
    color: burlywood;

}

.navbar-toggler
{

    border: 2px solid #ffffff;

}